* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    font-size: 28px;
    font-family: 'Georgia', serif;
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    list-style: none;
    padding: 0;
}

.dropdown-menu li {
    padding: 12px 16px;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

.cart-menu {
    position: relative;
}

.cart-icon {
    width: 30px;
}

.hamburger-menu {
    display: none;
}

.title{
    text-align: center;
    margin-top: 20px;
}

.map-container {
    text-align: center;
    margin-top: 40px;
}

.map-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.map-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    border: 3px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

iframe {
    width: 600px;
    height: 450px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}




